<%- include('../partials/header') %>

<div class="container">
    <div class="row">
    <div class="offset-md-3 col-md-6 ps-0 pe-0">

    <h2>NEW MEMO</h2>

    <form action="/memos" enctype="multipart/form-data" method="POST" class="memoForm">
        <div>
            <label class="form-label">I met with*</label>
            <input class="form-control" type="text" name="networkName" id="networkName" list="networkNamesList" placeholder="(select or type a new name)" required>
            
            <!-- TODO: Refactor datalist for more control over styling -->
            <datalist id="networkNamesList">
                <% networks.forEach(function(network) { %>
                    <option value="<%= network.name %>"></option>
                <% }); %>
            </datalist>
        </div>
        <div>
            <label class="form-label">at</label>
            <input class="form-control" type="text" name="location" placeholder="location">
        </div>
        <div>
            <label class="form-label">about</label>
            <textarea class="form-control" name="note" placeholder="things to remember for next time (memo)" rows="5"></textarea>
        </div>
        <div class="col-md-6">
            <label>on</label>
            <input class="form-control" type="date" name="date" value="<%= today %>">
        </div>
        <div>
            <!-- Single image uploader -->
            <label class="form-label">snapshot</label>
            <input class="form-control" type="file" name="image">
        </div>
        <div id="cta" >
            <div class="clearfix">
                <a href="/memos" class="btn btn-link" role="button">Cancel</a>
                <button class="btn btn-outline-secondary" type="reset" value="Clear">Clear</button>
                <button class="btn btn-outline-primary" type="submit" value="Save memo">Save</button>
                <div class="spinner-border text-secondary float-end mt-1" role="status" id="spinner" style="display: none;">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>

    </form>

    </div>
    </div>
</div>

<!-- Loading spinner -->
<script>
    document.querySelector('.memoForm').addEventListener('submit', function() {
        document.getElementById('spinner').style.display = 'block';
    });
</script>
    
<%- include('../partials/footer') %>