<%- include('../partials/header') %>

<h1>/m</h1>

<form action="/memos" enctype="multipart/form-data" method="POST">
    <label>Date</label>
    <input type="date" name="date" value="<%= today %>">
    <label>Location</label>
    <input type="text" name="location">
    <label>Note</label>
    <textarea type="text" name="note"></textarea>
    <input type="file" name="image">
    <a href="/memos" class="button">Cancel</a>
    <input type="reset" value="Clear">
    <input type="submit" value="Save memo">

</form>


<%- include('../partials/footer') %>