<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Recalling details from conversations can be hard.</p>
    <p>Let's fix that.</p>
    <% if (user) { %>
      <button><a href="/logout">Log out</a></button>
    <% } else { %>
      <button><a href="/auth/google" class="login">Log in with Google</a></button>
    <% } %>
  </body>
</html>