/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

/* a {
  color: #AA00FF;
} */

/* .login img {
  height: 30px;
} */

img {
  height: 60px;
}

body {
  font-family: "Red Hat Mono", monospace;
  margin-top: 40px;
}

h1 {
  font-weight: 300;
  color: #AA00FF;
}

h2 {
  font-weight: 300;
  letter-spacing: -0.05em;
  padding-bottom: 20px;
}

div {
  padding-bottom: 20px;
}

#cta {
  padding-top: 20px;
}

/* #logo {
  padding-left: 0px;
} */

.navbar-nav .nav-item .nav-link img {
  width: 28px; 
  height: 28px; 
}

/* #nav-icon {
  width: 28px; 
  height: 28px; 
} */

.navbar-toggler {
  border: var(--bs-border-width) solid rgb(0 0 0 / 0%);
}

.memo {
  position: relative;
}

.memo-details {
  margin-bottom: 0px;
}

.memo-icon img {
  width: 20px;
  height: 20px;
  opacity: 0.3;
}

.memo-icon:hover img{
  opacity: 1;
}

.memo-cta {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0px;
  position: absolute;
  top: 0; 
  right: 0;
}

.memo-divider {
  margin-top: 12px;
  margin-bottom: 28px;
}

.bold-name {
  font-weight: 600;
}